Bug found in HTTP::Tiny

If the server responds with "\n\r" for line feeds, instead of the more common "\n", HTTP::Tiny will incorrectly assume it received two line feeds.  It will then throw the ambiguous, unhelpful error as seen below:

$VAR1 = {
          'url' => '<URL to server sending out "\n\r" as a line feed>',
          'reason' => 'Internal Exception',
          'content' => 'Unexpected end of stream while looking for line
',
          'success' => '',
          'headers' => {
                         'content-length' => 48,
                         'content-type' => 'text/plain'
                       },
          'status' => 599
        };

If a server is responding with `\n\r` it is broken. The spec defines the line separator for HTTP headers to be `\r\n`, but says that implementations **MAY** also allow a bare `\n` ([RFC 9112, Section 2.2, Para 3](https://www.rfc-editor.org/rfc/rfc9112#section-2.2-3)).

I'm not sure there is anything worth changing here.